* {
  /* reset margin body*/
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
  list-style: none;
}
/* reset test-decoration */
/* a {
  text-decoration: none;
} */
/* end reset */

/* ul, ol{
    list-style: none;
} */
